<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center ion-margin">Pokédex</ion-title>
    <!-- <ion-searchbar class="ion-margin-bottom" placeholder="Nom en anglais ou numéro du pokémon" showClearButton="true"></ion-searchbar> -->
    <p class="ion-text-center">Consultez les Pokémons et ajouter les à votre équipe !</p>
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-button color="light" [routerLink]="'/home'">Accueil</ion-button>
        <ion-button color="light" [routerLink]="'/team'">Mon équipe</ion-button>
        <ion-button color="light" [routerLink]="''">Combat</ion-button>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let pokemon of pokemons">
      <ion-grid>

        <ion-row>
          <ion-col size='6'>
            <p class="ion-text-capitalize"><strong>{{ pokemon.id }} : {{ pokemon.name }}</strong></p>
          </ion-col>
          <ion-col size='3'>
            <ion-button color="transparent" (click)=getPokemon(pokemon.id)>
              <img src="../../assets/img/pokedex-open.png">
            </ion-button>
          </ion-col>
          <ion-col size='3'>
            <ion-button color="transparent" (click)=addPokemon(pokemon.id)>
              <img src="../../assets/img/pokeball.png">
            </ion-button>
          </ion-col>
        </ion-row>

        <div class="lightgray" *ngIf="selectedPokemon && selectedPokemon.name===pokemon.name">
          <h2 class="ion-text-center ion-text-capitalize">{{ selectedPokemon.name }} / {{selectedPokemon.french_name}}
          </h2>
          <ion-row>
            <ion-col size="8">
              <ion-img src="{{ selectedPokemon.img }}" alt="{{ selectedPokemon.name }}" style="width:75%">
              </ion-img>
            </ion-col>
            <ion-col size="4">
              <ion-img *ngFor="let type of selectedPokemon.types" src="../../assets/img/{{ type }}.png"
                style="width:75%" alt="{{ type }}"></ion-img>
              <ion-img src="{{ selectedPokemon.shinyimg }}" alt="{{ selectedPokemon.name }} shiny"></ion-img>
              <p class="ion-text-center">Shiny</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6"><strong>Hauteur :</strong> {{ selectedPokemon.height }} m</ion-col>
            <ion-col size="6"><strong>Poids :</strong> {{ selectedPokemon.weight }} kg</ion-col>
            <ion-col size="6"><strong>PV :</strong> {{ selectedPokemon.hp }}</ion-col>
            <ion-col size="6"><strong>Vitesse :</strong> {{ selectedPokemon.speed }} </ion-col>
            <ion-col size="6"><strong>Attaque :</strong> {{ selectedPokemon.attack }} </ion-col>
            <ion-col size="6"><strong>Défense :</strong> {{ selectedPokemon.defense }} </ion-col>
            <ion-col size="6"><strong>Attaque Spé :</strong> {{ selectedPokemon.special_attack }} </ion-col>
            <ion-col size="6"><strong>Défense Spé :</strong> {{ selectedPokemon.special_defense }} </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>