<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokémon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-button expand="full" [routerLink]="['/profil']">Mon Profil</ion-button>
    <ion-button expand="full" [routerLink]="['/team']">Mon équipe</ion-button>
    <ion-button expand="full" [routerLink]="['/pokedex']">Pokédex</ion-button>
    <ion-button expand="full" [routerLink]="['/fight']">Combattre</ion-button>
  </div>
</ion-content>